#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  padding: 20px;
}

.searchBar {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin-bottom: 30px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.countryCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.countryCard img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.countryCard p {
  margin-top: 10px;
  font-weight: bold;
}